@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  /* Primary Blue */
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
  --animate-pulse-slow: pulseSlow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 2rem, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes pulseSlow {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom premium selection color */
::selection {
  background-color: var(--color-gold-500);
  color: black;
}